.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 50px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100px;
    cursor: pointer;
  }

  a {
    color: white;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: 225ms all ease-in-out;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  a:last-of-type {
    margin-right: unset;
  }
}
