<div class="header" *ngIf="!mobile" [ngClass]="{'alt-route': router.url == '/imprint' || router.url == '/dataprot'}">
  <a class="header-firstname" routerLink="/">Morit<span>z</span></a>
  <div>
    <a href="#aboutMe">About Me</a>
    <a href="#skillsContainer">Skills</a>
    <a href="#projectContainer">Projects</a>
  </div>
</div>

<div *ngIf="mobile" class="header-mobile" [ngClass]="{'alt-route': router.url == '/imprint' || router.url == '/dataprot'}" >
  <a class="header-firstname" href="#"
    >Morit<span style="color: salmon">z</span></a
  >
  <i
    class="fa-solid fa-bars"
    style="color: #ffffff"
    id="mobile-menu"
    (click)="openMobileMenu()"
  ></i>
</div>

<div class="menu-mobile" *ngIf="menuOpen">
  <div>
    <img src="./assets/img/logo.png" alt="logo" />
    <i
      class="fa-solid fa-xmark"
      style="color: white"
      (click)="closeMobileMenu()"
    ></i>
  </div>
  <div>
    <a href="#aboutMe" (click)="closeMobileMenu()">About Me</a
    ><a href="#skillsContainer" (click)="closeMobileMenu()">Skills</a
    ><a href="#projectContainer" (click)="closeMobileMenu()">Projects</a>
  </div>
</div>
