<div class="footer">
  <img src="./assets/img/logo.png" alt="" />
  <div class="info-container">
    <p>© Moritz Georgy 2023</p>
    <div>
      <a href="/imprint">Impressum</a>
      <a href="/imprint">Datenschutz</a>
    </div>
  </div>
  <div class="channel-container">
    <a href="https://github.com/MoritzGeorgy95" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/moritz-georgy-81560a167/"
      target="_blank"
    >
      <i class="bi bi-linkedin"></i> </a
    ><a href="#contactMe"> <i class="bi bi-envelope"></i> </a>
  </div>
</div>
