<div class="about-me-container" id="aboutMe">
  <div class="background-bubble">
    <img src="./assets/img/BewerbungsfotoNoBg.png" alt="" class="profile-img" />
  </div>

  <div class="description-container" #el1>
    <h1>Hello! I am Moritz</h1>
    <h1>FRONTEND <br id="linebreak" />DEVELOPER</h1>
    <p>
      It's a pleasure to welcome you to my website. If you're looking for a
      passionate developer who will work with commitment and creativity by your
      side, then I'm happy to be at your service.
      <br /><br />
      Get an overview of my skills and projects.
    </p>
    <div class="arrow-container">
      <a href="#projectContainer"
        ><i class="bi bi-arrow-down-circle-fill arrow" id="ble"></i
      ></a>
      <p>Take a look at my projects</p> 
    </div>
  </div>
  <div class="channel-container">
    <a href="https://github.com/MoritzGeorgy95" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/moritz-georgy-81560a167/"
      target="_blank"
    >
      <i class="bi bi-linkedin"></i> </a
    ><a href="#contactMe"> <i class="bi bi-envelope"></i> </a>
  </div>
  <div class="bubble bubble-1"></div>
  <div class="bubble bubble-2"></div>
  <div class="bubble bubble-3"></div>
</div>
