<div class="about-me-container" id="aboutMe">
  <div class="background-bubble">
    <img src="assets/img/BewerbungsfotoNoBg.png" alt="" class="profile-img" />
  </div>

  <div class="description-container">
    <h1>Hallo! Ich bin Moritz</h1>
    <h1>FRONTEND <br id="linebreak"/>DEVELOPER</h1>
    <p>
      Es freut mich Sie auf meiner Webseite begrüßen zu dürfen. Wenn Sie einen
      passionierten Entwickler suchen, der mit Engagement und Kreativität an
      Ihrer Seite arbeitet, dann stehe ich Ihnen gerne zur Verfügung.
      <br /><br />
      Verschaffen Sie sich einen Überblick über meine Kenntnisse und Projekte.
    </p>
    <div class="arrow-container">
      <i class="bi bi-arrow-down-circle-fill arrow"></i>
      <p>Projekte ansehen</p>
    </div>
  </div>
  <div class="channel-container">
    <i class="bi bi-github"></i>
    <i class="bi bi-linkedin"></i>
    <i class="bi bi-envelope"></i>
  </div>
  <div class="bubble bubble-1"></div>
  <div class="bubble bubble-2"></div>
  <div class="bubble bubble-3"></div>
</div>
