<div class="about-me-container" id="aboutMe">
  <div class="background-bubble">
    <img src="assets/img/BewerbungsfotoNoBg.png" alt="" class="profile-img" />
  </div>

  <div class="description-container">
    <h1>Hallo! Ich bin Moritz</h1>
    <h1>FRONTEND<br />DEVELOPER</h1>
    <p>
      Als Front-End-Entwickler aus Konstanz, DE betrachte ich die
      Softwareentwicklung als ein digitales Handwerk. Die Arbeit an einer
      perfekt funktionierenden und ästhetisch ansprechenden Benutzeroberfläche
      ist für mich eine Leidenschaft, die ich mit großer Hingabe ausübe.<br /><br />
      Ich suche nach Möglichkeiten, meine Fähigkeiten und Kenntnisse als
      Junior-Webentwickler weiter zu entwickeln und freue mich darauf, an
      Projekten mitzuwirken, die innovative Lösungen erfordern. <br /><br />
      Wenn Sie einen passionierten Entwickler suchen, der mit Engagement und Kreativität an
      Ihrer Seite arbeitet, dann stehe ich Ihnen gerne zur Verfügung.
    </p>
    <div class="channel-container">
      <i class="bi bi-github"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-envelope"></i>
    </div>
  </div>
  <div class="arrow-container">
    <i class="bi bi-arrow-down-circle-fill arrow"></i>
    <p>Sehen Sie sich meine Projekte an</p>
  </div>
</div>
