.slideshow-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideshow-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: 4s ease zoom infinite;
}
 
@keyframes zoom {
   from {transform: scale(1);}

    to {transform: scale(1.2);}
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba($color: #000000, $alpha: .5);
    display: flex;
    align-items: center;
    padding-left: 200px;
    h1 {
        color: white;
        font-size: 5rem;
        padding-left: 2rem;
        border-left: 15px solid salmon;
    }
}