<div class="slideshow-container" id="scurr">
  <img
    *ngIf="currentImage == 0"
    src="assets/img/img1.jpg"
    alt="nature-pic"
    class="slideshow-pic"
  />
  <img
    *ngIf="currentImage == 1"
    src="assets/img/img2.jpg"
    alt="nature-pic"
    class="slideshow-pic"
  />
  <img
    *ngIf="currentImage == 2"
    src="assets/img/img3.jpg"
    alt="nature-pic"
    class="slideshow-pic"
  />
  <div class="overlay">
    <h1>{{ headers[currentImage] }}</h1>
    <a href="#aboutMe">    <i class="bi bi-arrow-down-circle-fill"></i>    </a>
  </div>
</div>


