<div class="project-container">
  <div class="description">
    <h1>Meine Projekte</h1>
    <p>
      Diese Sektion bietet Ihnen einen Einblick in meine Fähigkeiten. Probieren
      Sie sich aus!
    </p>
  </div>

  <div class="project-wrapper">
    <div class="img-wrapper">
      <img src="assets/img/Join.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>Join Kanban</h1>
      <h3>JavaScript | CSS | HTML</h3>
      <p>
        Ein Aufgabenmanager im Kanban-Stil hilft Ihnen bei der Erstellung und
        Organisation von Aufgaben durch Drag-and-Drop-Funktionen. Benutzer und
        Kategorien können zugewiesen werden, um Aufgaben besser zu strukturieren
        und zu verfolgen.
      </p>
      <a class="btn">GitHub</a>
    </div>
  </div>
  <div class="project-wrapper reverse">
    <div class="img-wrapper">
      <img src="assets/img/startscreen.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>El Pollo Loco</h1>
      <h3>JavaScript | CSS | HTML</h3>
      <p>
        El Pollo loco ist ein Jump & Run Spiel, in dem Pepe Münzen und
        Tabasco-Salsa sammeln muss, um gegen verrückte Hennen zu kämpfen.
        Erlebe aufregende Sprünge, Läufe und Würfe, während du Pepe auf seiner
        Mission begleitest. Die Spiellogik basiert auf Objektorientierung und
        einem rekursiven Animation Frame.
      </p>
      <a class="btn">GitHub</a>
    </div>
  </div>
  <div class="project-wrapper">
    <div class="img-wrapper">
      <img src="assets/img/Join.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>Join Kanban</h1>
      <h3>JavaScript | CSS | HTML</h3>
      <p>
        Ein Aufgabenmanager im Kanban-Stil hilft Ihnen bei der Erstellung und
        Organisation von Aufgaben durch Drag-and-Drop-Funktionen. Benutzer und
        Kategorien können zugewiesen werden, um Aufgaben besser zu strukturieren
        und zu verfolgen.
      </p>
      <a class="btn">GitHub</a>
    </div>
  </div>
  <div class="project-wrapper reverse">
    <div class="img-wrapper">
      <img src="assets/img/startscreen.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>Join Kanban</h1>
      <h3>JavaScript | CSS | HTML</h3>
      <p>
        Ein Aufgabenmanager im Kanban-Stil hilft Ihnen bei der Erstellung und
        Organisation von Aufgaben durch Drag-and-Drop-Funktionen. Benutzer und
        Kategorien können zugewiesen werden, um Aufgaben besser zu strukturieren
        und zu verfolgen.
      </p>
      <a class="btn">GitHub</a>
    </div>
  </div>
</div>
