<div class="project-container" id="projectContainer">
  <div class="description">
    <h1>My Projects</h1>
    <p>
      This section provides you with an insight into my skills. Give it a try!
    </p>
  </div>

  <div class="project-wrapper" #proj1>
    <div
      class="img-wrapper"
      (click)="
        openNewTab(
          'https://moritz-georgy.developerakademie.net/Modul10/Join/index.html'
        )
      "
    >
      <img src="./assets/img/Join.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>Join Kanban</h1>
      <h3>JavaScript | CSS | HTML</h3>
      <p>
        A task manager in Kanban style that helps you create and organize tasks
        using drag-and-drop functions. Users and categories can be assigned to
        better structure and track tasks (All Vanilla).
      </p>
      <a
        class="btn"
        (click)="openNewTab('https://github.com/MoritzGeorgy95/Join-')"
        >GitHub</a
      >
    </div>
  </div>
  <div class="project-wrapper reverse" #proj2>
    <div
      class="img-wrapper"
      (click)="openNewTab('https://crm-system-f7e71.web.app/')"
    >
      <img src="./assets/img/toolio.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>Toolio CRM</h1>
      <h3>Firebase | Angular | TypeScript | HTML | SCSS</h3>
      <p>
        A lightweight CRM system built with Angular that allows you to create
        client accounts, schedule calendar events, upload documents and create
        projects. I am using this application myself to keep track of client
        data and to stay synced with client events. A dashboard that displays
        several metrics helps to keep an overview over everything that is going on.
      </p>
      <a
        class="btn"
        (click)="openNewTab('https://github.com/MoritzGeorgy95/Angular-CRM')"
        >GitHub</a
      >
    </div>
  </div>
  <div class="project-wrapper" #proj3>
    <div
      class="img-wrapper"
      (click)="
        openNewTab(
          'https://moritz-georgy.developerakademie.net/Modul11/El-pollo-loco/index.html'
        )
      "
    >
      <img src="./assets/img/startscreen.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>El Pollo Loco</h1>
      <h3>JavaScript | CSS | HTML</h3>
      <p>
        El Pollo Loco is a jump & run game where Pepe has to collect coins and
        Tabasco salsa to fight against crazy chickens. Experience exciting
        jumps, runs, and throws as you accompany Pepe on his mission. The game
        logic is based on object-oriented programming and a recursive animation
        frame.
      </p>
      <a
        class="btn"
        (click)="openNewTab('https://github.com/MoritzGeorgy95/El-Pollo-Loco')"
        >GitHub</a
      >
    </div>
  </div>
  <div class="project-wrapper reverse" #proj4>
    <div
      class="img-wrapper"
      (click)="openNewTab('https://ring-of-fire-60e71.web.app/')"
    >
      <img src="./assets/img/ring.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>Ring of Fire</h1>
      <h3>Firebase | Angular | TypeScript | HTML | CSS</h3>
      <p>
        Ring of Fire is a fun multiplayer social game that challenges
        participants to draw cards and perform certain actions. It guarantees
        lots of fun and is particularly well-suited for larger groups. This
        exciting game features real-time data exchange with Firebase for a
        seamless multiplayer gameplay experience
      </p>
      <a
        class="btn"
        (click)="openNewTab('https://github.com/MoritzGeorgy95/RingOfFire')"
        >GitHub</a
      >
    </div>
  </div>
  <div class="project-wrapper" #proj5>
    <div
      class="img-wrapper"
      (click)="
        openNewTab(
          'https://moritz-georgy.developerakademie.net/Modul9/Pokedex/index.html'
        )
      "
    >
      <img src="./assets/img/Pokedex.png" alt="" />
      <div class="project-img-overlay">LIVE TEST</div>
    </div>
    <div class="project-text">
      <h1>Pokedex</h1>
      <h3>JavaScript | CSS | HTML | API | Bootstrap</h3>
      <p>
        A dynamic Pokedex that provides information about different Pokemons
        through the PokeAPI. It offers detailed information on all known Pokemon
        (e.g. images & stats) and allows for easy searching and filtering based
        on specific criteria.
      </p>
      <a
        class="btn"
        (click)="openNewTab('https://github.com/MoritzGeorgy95/Pokedex')"
        >GitHub</a
      >
    </div>
  </div>

  <div class="bubble bubble-1"></div>
  <div class="bubble bubble-2"></div>
  <div class="bubble bubble-3"></div>
  <div class="bubble bubble-4"></div>
  <img src="assets/img/red-blur.png" alt="blur-img" class="blur" />
</div>
