.contact-container {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #141d2f;
  background-image: url("/assets/img/curve_vector.png");
  position: relative;
  height: 100vh;
  box-sizing: border-box;

  .blur {
    position: absolute;
    left: -4rem;
    bottom: -212px;
    transform: rotate(90deg);
    z-index: 0;
  }

  .skewed-border {
    height: 2px;
    background-color: salmon;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    transform: rotate(5deg);
  }
}

.text-container {
  width: 50%;
  opacity: 0;
  position: relative;
  h1 {
    color: white;
    font-size: 4.5rem;
    margin: 0;
  }

  h2 {
    color: salmon;
  }
  p {
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
  }
  z-index: 1;

  .line-connector {
    width: 50px;
    border: 3px solid salmon;
    position: absolute;
    right: calc(100% + 50px);
    top: 36px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.form-container {
  width: 40%;
  z-index: 1;
  opacity: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  .validation-warning {
    width: 100%;
    color: salmon;
    position: absolute;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    left: -10px;
    padding: 0 7px;
    outline: 1px solid black;
  }

  .vw1 {
    top: 46px;
  }

  .vw2 {
    top: 121px;
  }

  .vw3 {
    top: 358px;
  }

  input,
  textarea {
    width: 100%;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    margin-top: 2rem;
    resize: none;
  }

  input:first-of-type {
    margin-top: 0;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 1rem;
    font-family: "Monteserrat", sans-serif;
  }

  input,
  textarea {
    font-size: 1rem;
    box-shadow: 12px 12px 1px 1px #464D5A;
  }

  button {
    padding: 10px 40px;
    border-radius: 7px;
    background: salmon;
    color: white;
    font-size: 1.3rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    transition: 225ms all ease-in-out;

    &:hover {
      color: salmon;
      outline: 2px solid salmon;
      background: white;
    }
  }
  :disabled {
    cursor: not-allowed;
    background: rgb(179, 178, 178);
    opacity: 0.3;
    &:hover {
      color: white;
      outline: unset;
      background: rgb(179, 178, 178);
    }
  }
}

.fly-in {
  animation: fly-in 1s ease-out forwards;
}


@keyframes fly-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



@media screen and (max-width: 1000px) {
  .contact-container {
    flex-direction: column;
    padding: 0 50px;
    align-items: center;
    justify-content: unset;
  }

  .text-container {
    width: 100%;
    justify-content: center;

    h1,
    h2,
    p {
      text-align: center;
    }
  }

  .form-container {
    width: 80%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .contact-container {
    height: unset;
  }

  #sendButton {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .text-container {
    p {
      font-size: 13px;
    }
  }

  .form-container {
    width: 100%;
    margin-top: 1rem;
  }

  form {
    button {
      margin-top: 0.5rem;
      border: 2px solid white;
    }
  }
}

@media screen and (max-width: 500px) {
  .blur {
      display: none;
  }

  .skewed-border {
    display: none;
  }

  .contact-container {
    border-top: 2px solid salmon;
  }
}