.contact-container {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #ffffff, #ffe1d1);
    position: relative;
    height: calc(80vh - 200px);

    .bubble {
        position: absolute;
        background: linear-gradient(to bottom right, #ffe5de, salmon);
        border-radius: 50%;
      }
      .bubble-1 {
        width: 50px;
        height: 50px;
        left: 18rem;
        bottom: 1.5rem;
      }
      .bubble-2 {
        width: 250px;
        height: 250px;
        left: -8rem;
        bottom: 2rem;
      }
      .bubble-3 {
        width: 80px;
        height: 80px;
        left: 10rem;
        bottom: 3rem;
      }
}


.text-container {
    width: 50%;
    h1, h2 {
        color: salmon;
    }
    p {
        font-weight: 600;
        font-size: .9rem;
    }
    z-index: 1;
}

.form-container {
    width: 40%;
    z-index: 1;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    .validation-warning {
        width: 100%;
        color: salmon;
        position: absolute;
        color: black;
        background: rgba(255, 255, 255, .8);
        border-radius: 5px;
        left: -10px;
        padding: 0 7px;
        outline: 1px solid black;
    }

    .vw1 {
        top: 46px;
         }
       

    .vw2 {
        top: 121px;
    }

    .vw3 {
        top: 358px;
    }

    input, textarea {
        width: 100%;
        border-radius: 10px;
        border: 2px solid salmon;
        padding: 10px;
        margin-top: 2rem;
        resize: none;
    }

    input:first-of-type {
        margin-top: 0;
    }

    input::placeholder, textarea::placeholder {
        font-size: 1rem;
        font-family: 'Monteserrat', sans-serif;
    }

    input, textarea {
        font-size: 1rem;
        box-shadow: 12px 12px 1px 1px rgba(250, 128, 114, 0.725);
    }

    button {
        padding: 10px 40px;
        border-radius: 7px;
        background: salmon;
        color: white;
        font-size: 1.3rem;
        border: none;
        margin-top: 2rem;
        cursor: pointer;
        transition: 225ms all ease-in-out;

        &:hover {
            color: salmon;
            outline: 2px solid salmon;
            background: white;
        }
    }
}

@media screen and (max-width: 1000px) {
    .contact-container {
        flex-direction: column;
        padding: 0 50px;
        align-items: center;
        justify-content: unset;
        height: 100vh;
    }

    .text-container {
        width: 100%;
        justify-content: center;

        h1, h2, p {
            text-align: center;
        }
    }

    .form-container {
        width: 80%;
        margin-top: 1rem;

    }
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
        margin-top: 1rem;
    }

    form {
        button {
            margin-top: .5rem;
            border: 2px solid white;
        }
    }
}