<div class="contact-container">
  <div class="text-container">
    <h1>Kontakt</h1>
    <h2>Benötigen Sie Hilfe bei einem Projekt?</h2>
    <p>
      Wenn Sie Kontakt mit mir aufnehmen möchten, nutzen Sie gerne das Formular
      auf dieser Seite. Ich bin stets offen für neue Projekte und freue mich
      darauf ihre Ideen und Perspektiven kennenzulernen.
    </p>
  </div>
  <div class="form-container">
    <form (ngSubmit)="submitForm()" #contactForm="ngForm">
        <input placeholder="Name" #nameInput= "ngModel" required type="text" name="name" [(ngModel)]="name">
        <div class="validation-warning" *ngIf="nameInput.invalid && nameInput.touched">Field is required.</div>

        <input placeholder="E-Mail" #emailInput= "ngModel" required type="email" name="email"[(ngModel)]="email"> 
        <div class="validation-warning" *ngIf="emailInput.invalid && emailInput.touched">Field is required and needs to be a valid email.</div>

        <textarea #messageInput="ngModel" placeholder="Nachricht" required name="message" id="" cols="30" rows="10" [(ngModel)]="message"></textarea>
        <div class="validation-warning" *ngIf="messageInput.invalid && emailInput.touched">A message is required.</div>

        <button id="sendButton" [disabled]= "contactForm.invalid" type="submit">Senden</button>
    </form>
  </div>
  <div class="bubble bubble-1"></div>
  <div class="bubble bubble-2"></div>
  <div class="bubble bubble-3"></div>
</div>
