<div class="contact-container">
  <div class="text-container">
    <h1>Kontakt</h1>
    <h2>Benötigen Sie Hilfe bei einem Projekt?</h2>
    <p>
      Wenn Sie Kontakt mit mir aufnehmen möchten, nutzen Sie gerne das Formular
      auf dieser Seite. Ich bin stets offen für neue Projekte und freue mich
      darauf ihre Ideen und Perspektiven kennenzulernen.
    </p>
  </div>
  <div class="form-container">
    <form action="POST">
        <input type="text">
        <input type="text">
        <textarea name="" id="" cols="30" rows="10">

        </textarea>
    </form>
  </div>
</div>
