<div class="skill-section-container" id="skillsContainer">
  <h1>Skill Set</h1>
  <div class="icon-container">
    <div>
      <img src="./assets/img/icons/angular.png" alt="skill-icon"/>
      <p>Angular</p>
    </div>
    <div>
      <img src="./assets/img/icons/typescript.png" alt="skill-icon"/>
      <p>Typescript</p>
    </div>
    <div>
      <img src="./assets/img/icons/javascript.png" alt="skill-icon"/>
      <p>Javascript</p>
    </div>
    <div>
      <img src="./assets/img/icons/html.png" alt="skill-icon"/>
      <p>HTML5</p>
    </div>
    <div>
      <img src="./assets/img/icons/css.png" alt="skill-icon"/>
      <p>CSS</p>
    </div>
    <div>
      <img src="./assets/img/icons/git.png" alt="skill-icon"/>
      <p>Git</p>
    </div>

    <div>
      <img src="./assets/img/icons/mat.png" alt="skill-icon"/>
      <p>Material Design</p>
    </div>

    <div>
      <img src="./assets/img/icons/api.png" alt="skill-icon"/>
      <p>Rest API</p>
    </div>
    <div>
      <img src="./assets/img/icons/scrum.png" alt="skill-icon"/>
      <p>Scrum</p>
    </div>
    <div>
      <img src="./assets/img/icons/firebase.png" alt="skill-icon" class="fire"/>
      <p>Firebase</p>
    </div>
  </div>
</div>
