  <div>
    <h1><span>Impressum</span></h1>
  <h2><span>Angaben gem&auml;&szlig; &sect; 5 TMG</span></h2>
  <p>
    <span
      >Moritz Georgy<br />
      Brunnisaachweg 16<br />
      88677 Markdorf</span
    >
  </p>
  <h2><span>Kontakt</span></h2>
  <p>
    <span
      >Telefon: 015736199373<br />
      E-Mail: moritz_georgy@web.de</span
    >
  </p>
  <p style="padding-bottom: 100px;">
    <span>Quelle: </span
    ><a
      href="https://www.google.com/url?q=https://www.e-recht24.de/&amp;sa=D&amp;source=editors&amp;ust=1679134508875055&amp;usg=AOvVaw0F9hMLJGXpvH2mR3JaExed"
      >https://www.e-recht24.de</a
    >
  </p>

  </div>
  