.data-prot-container {
    padding: 0 100px;
}

@media screen and (max-width: 600px) {
    .data-prot-container {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 2000px) {
    * {
        color: white;
    }
}